@media (max-width: 1000px) {

  :root {
    --primary: rgb(229, 194, 129);
    --bg: #010101;
    --primaryblue: rgb(50, 143, 168);
    --primaryputih: #fff;
    --primaryaqua: #cbead9;
    --primaryhijau: rgb(105, 202, 168);
    --primaryblack: rgb(0, 0, 0);
    --primaryabu: #dadada;
    --primarybluedark: rgb(10, 62, 76);
    --primarydarkbet:rgb(23, 25, 26);
  
  }

  #search{
    display: none;
  }
  #shopcard{
    display: none;
  }



    .hero{
        font-size: 50%;
    }



    #menu{
      display: inline-block;
    }
  
    .navbar-nav{
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: #fff;
      width: 15rem;
      height: 100vh;
      transition: 0.3s;
    }
  
    .navbar-nav.active{
      right: 0;
    }
  
    .navbar-nav a{
      color: var(--bg);
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 1rem;
  
    }

    .productu{
      font-size: 2rem;
    }

    .kami{
      font-size: 2rem;
    }

    .row{
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

   

    .tersedia{
      font-size: 2rem;
    }

    .productu{
      padding-top: 0.5rem;
      font-size: 1rem;
    }

    .rp{
      padding: 1rem;
      font-size: 1rem;
    }

    .t{
      font-size: 1rem;
      text-align: center;
      padding: 0;
      padding-top: 1rem;
    }
    .latar .kaosss img{
      width: 95%;
    }

    .a01{
      margin: 0.5rem 7% 0rem;
    }

    .keterangan{
      margin: 0.2rem 7% 1.4rem;
    }



    /*sect4*/
    .logokuuu img{
      width: 150px;
    }

    .footerrr{
      background-color: var(--primaryblue);
     
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .copyyy{
      font-size: 0.7rem;
    }

    .ten2{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .per{
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tentangku div img{
      width: 300px;
    }


    .d1{
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .d2{
      background-color: var(--primarybluedark);
      height: 15rem;
      width: 19rem;
      border-radius: 25px;
    }
    .d21{
      margin: 2rem 7% 1.4rem;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.719);
   
    }
    
    /*eeeeeee*/
    .d3{
      background-color: var(--primarybluedark);
      height: 15rem;
      width: 19rem;
      border-radius: 25px;
    }
    .d22{
      margin: 2rem 7% 1.4rem;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.719);
   
      
    }

    .dd1{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }


    /*menumatematika*/
    .me1{
      padding: 1rem 5rem;
    }



    /*experiance*/
    .semuaisi{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      align-items: center;
    }


  
    
  
  
  }